[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
streamlit = "*"
uvicorn = "*"
chromadb = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
